---
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout
  postTitle={post.data.title}
  postDescription={post.data.description}
  postImage={post.data.image}
>
  <article>
    <h1>{post.data.title}</h1>
    <time>{post.data.published.toISOString().split('T')[0]}</time>
    <Content />
  </article>
</Layout>
