---
import { getMultiLangRoutes } from '@/i18n/route'
import Layout from '@/layouts/Layout.astro'
import { getAllTags } from '@/utils/content'

export function getStaticPaths() {
  return getMultiLangRoutes()
}

const { lang } = Astro.params
const allTags = await getAllTags()
---

<Layout>
  <div class="uno-decorative-line"></div>
  <div class="uno-tags-wrapper">
    {allTags.map(tag => (
      <a
        href={`/${lang}/tags/${tag}/`}
        class="uno-tags-style"
      >
        {tag}
      </a>
    ))}
  </div>
</Layout>
