---
import Layout from '@/layouts/Layout.astro'
import { checkSlugDuplication } from '@/utils/content'
import { generateMultiLangPostPaths } from '@/utils/i18n'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('posts')

  const duplicates = await checkSlugDuplication(posts)
  if (duplicates.length > 0) {
    throw new Error(`Slug conflicts found:\n${duplicates.join('\n')}`)
  }

  return generateMultiLangPostPaths(posts)
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout>
  <article>
    <h1>{post.data.title}</h1>
    <time>{post.data.published.toISOString().split('T')[0]}</time>
    <Content />
  </article>
</Layout>
