---
import PostList from '@/components/PostList.astro'
import { generateTagPaths } from '@/i18n/route'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag } from '@/utils/content'

export async function getStaticPaths() {
  const tags = await getAllTags()
  return generateTagPaths(tags)
}

const { tag } = Astro.props
const posts = await getPostsByTag(tag)
const allTags = await getAllTags()
---

<Layout>
  <div class="uno-decorative-line"></div>
  <div class="uno-tags-wrapper">
    {allTags.map(tag => (
      <a
        href={`/tags/${tag}/`}
        class={`uno-tags-style ${
          Astro.props.tag === tag
            ? 'uno-tag-active'
            : ''
        }`}
      >
        {tag}
      </a>
    ))}
  </div>

  <div class="mt-10.625">
    <PostList posts={posts} />
  </div>
</Layout>
