---
import Layout from '@/layouts/Layout.astro'
import { getAllTags } from '@/utils/content'

const allTags = await getAllTags()
---

<Layout>
  <div class="uno-decorative-line"></div>
  <div class="uno-tags-wrapper">
    {allTags.map(tag => (
      <a
        href={`/tags/${tag}/`}
        class="uno-tags-style"
      >
        {tag}
      </a>
    ))}
  </div>
</Layout>
