---
import { allLocales, defaultLocale } from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  type PathItem = {
    params: { about: string }
    props: { lang: string }
  }

  const paths: PathItem[] = []

  // Default locale
  paths.push({
    params: { about: 'about' },
    props: { lang: defaultLocale },
  })

  // More locales
  allLocales.forEach((lang: string) => {
    if (lang !== defaultLocale) {
      paths.push({
        params: { about: `${lang}/about` },
        props: { lang },
      })
    }
  })

  return paths
}

const { lang } = Astro.props

const allAboutEntries = await getCollection('about')
const aboutEntry = allAboutEntries.find(entry => entry.data.lang === lang)
  || allAboutEntries.find(entry => entry.data.lang === '')
const { Content } = aboutEntry ? await aboutEntry.render() : { Content: null }
---

<Layout>
  <div class="uno-decorative-line"></div>
  <div class="heti mt-4.375">
    {Content && <Content />}
  </div>
</Layout>
