---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="uno-decorative-line"></div>
  <div class="heti mt-4.375">
    <p>一款基于<a href="https://astro.build/">Astro</a>框架的静态博客主题，灵感来自<a href="https://astro-theme-typography.vercel.app/">Typography</a>。本主题以活版印刷风格为基础，通过建立全新视觉规范，对所有页面进行重新编排，打造纸质书页般的阅读体验，再现传统版式之美。</p>
    <p>所见皆为细节，方寸尽显优雅。</p>
  </div>
</Layout>
