---
import Layout from '@/layouts/Layout.astro'
import { getPinnedPosts, getPosts } from '@/utils/content.config'

const posts = await getPosts()
const pinnedPosts = await getPinnedPosts()
---

<Layout>
  <main>
    {pinnedPosts.length > 0 && (
      <section>
        <ul>
          {pinnedPosts.map(post => (
            <li>
              <a href={`/posts/${post.data.slug || post.slug}/`}>
                {post.data.title}
                <time>({post.data.published.toISOString().split('T')[0]})</time>
              </a>
            </li>
          ))}
        </ul>
      </section>
    )}

    <section>
      <ul>
        {posts.map(post => (
          <li>
            <a href={`/posts/${post.data.slug || post.slug}/`}>
              {post.data.title}
              <time>({post.data.published.toISOString().split('T')[0]})</time>
            </a>
          </li>
        ))}
      </ul>
    </section>
  </main>
</Layout>
