<button
  aria-label="Go back"
  id="back-button"
  class="aspect-square w-4 c-secondary active:scale-90"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
  >
    <path d="M12.7 1.7.9 12.1l11.8 10.3.2 1.5h.9l-.6-5.4h-.9l.2 2.4-9.2-8h19.8v-1.6H4.2L12.4 4l-.2 2.3h.9l.6-6.3h-.9l-.2 1.6Z" />
  </svg>
</button>

<script>
function setupBackButton() {
  const backButton = document.getElementById('back-button')
  if (backButton) {
    backButton.addEventListener('click', (e) => {
      if (window.history.length > 2) {
        e.preventDefault()
        window.history.back()
        return false
      }
      return true
    })
  }
}

document.addEventListener('astro:after-swap', setupBackButton)
setupBackButton()
</script>
