---
import themeConfig from '@/config'

const { title, subtitle } = themeConfig.site
const { titleSpace } = themeConfig.global

const marginBottom = {
  1: 'mb-1',
  2: 'mb-2',
  3: 'mb-3',
  4: 'mb-4',
}[titleSpace] || 'mb-3'
---

<header>
  <h1 class={`${marginBottom} mt--5.2 text-12 c-primary font-bold font-title`}>
    <a href="/">
      {title}
    </a>
  </h1>
  
  <h2 class="text-5.6 c-secondary font-navbar">
    {subtitle}
  </h2>
</header>
