---
import themeConfig from '@/config'

const { title, subtitle } = themeConfig.site
const { titleSpace = 2 } = themeConfig.global

const marginClass = {
  1: 'mb-1',
  2: 'mb-2',
  3: 'mb-3',
  4: 'mb-4',
}[titleSpace] || 'mb-3'
---

<header>
  <h1
    class={`${marginClass} mt--5.2 text-12 c-primary font-bold font-title`}
    aria-label="Title Tag"
  >
    <a href="/">
      {title}
    </a>
  </h1>
  <h2
    class="text-5.6 c-secondary font-navbar"
    aria-label="Meta Description"
  >
    {subtitle}
  </h2>
</header>
