---
import themeConfig from '@/config'
import { getPagePath } from '@/utils/path'

const { title, subtitle } = themeConfig.site
const { titleSpace } = themeConfig.global
const currentPath = Astro.url.pathname
const { getLocalizedPath } = getPagePath(currentPath)

const marginBottom = {
    1: 'mb-1',
    2: 'mb-3',
    3: 'mb-5',
  }[titleSpace] || 'mb-3'
---

<header>
  <h1 class={`${marginBottom} text-12.8 c-primary font-bold font-title`}>
    <a
      href={getLocalizedPath('/')}
      transition:name="site-title"
      data-disable-transition-on-theme
    >
      {title}
    </a>
  </h1>

  {subtitle && (
    <h2 class="text-5.6 c-secondary font-navbar">
      {subtitle}
    </h2>
  )}
</header>
