---
import themeConfig from '@/config'
import { getPagePath } from '@/i18n/path'

const { title, subtitle } = themeConfig.site
const { titleSpace } = themeConfig.global
const currentPath = Astro.url.pathname
const { getLocalizedPath } = getPagePath(currentPath)

const marginBottom = {
    1: 'mb-0.625',
    2: 'mb-1.875',
    3: 'mb-3.125',
  }[titleSpace] || 'mb-3.125'
---

<header
  class="mb-10.625"
  lg="fixed"
>
  <h1 class={`${marginBottom} text-8 c-primary font-bold font-title lg:text-9`}>
    <!-- Fix text cropping issues during view transition on ios by adding a div tag -->
    <div
      class="box-content inline-block pr-1.25"
      transition:name="site-title"
      data-disable-transition-on-theme
    >
      <a href={getLocalizedPath('/')}>
        {title}
      </a>
    </div>
  </h1>

  {subtitle && (
    <h2 class="text-3.5 c-secondary font-navbar lg:text-4">
      {subtitle}
    </h2>
  )}
</header>
