---
import themeConfig from '@/config'
import { getPagePath } from '@/utils/path'

const { title } = themeConfig.site
const currentPath = Astro.url.pathname
const { getLocalizedPath } = getPagePath(currentPath)
---

<header class="mt-4.7 text-8.6 c-secondary font-bold font-title lg:hidden">
  <div
    class="box-content inline-block pr-2"
    transition:name="site-title"
    data-disable-transition-on-theme
  >
    <a href={getLocalizedPath('/')}>
      {title}
    </a>
  </div>
</header>
