---
import themeConfig from '@/config'
import { getPagePath } from '@/utils/path'

const { title } = themeConfig.site
const currentPath = Astro.url.pathname
const { getLocalizedPath } = getPagePath(currentPath)
---

<header class="mt-4.7 text-8.6 c-secondary font-bold font-title lg:hidden">
  <a
    href={getLocalizedPath('/')}
    transition:name="site-title"
    data-disable-transition-on-theme
  >
    {title}
  </a>
</header>
