---
import { getPagePath } from '@/utils/path'
import { ui } from '@/utils/ui'

const currentPath = Astro.url.pathname
const { currentLang, isHome, isPost, isTag, isAbout, getLocalizedPath }
  = getPagePath(currentPath)
const currentUI = ui[currentLang as keyof typeof ui]

const isPostActive = isHome || isPost
const isTagActive = isTag
const isAboutActive = isAbout;
---

<nav class="mb-17 mt-17 text-5.84 font-semibold leading-14 font-navbar">
  <ul>
    <li>
      <a
        href={getLocalizedPath('/')}
        class:list={[
          isPostActive
            ? 'font-bold c-primary'
            : 'hover:c-primary hover:font-bold',
        ]}
      >
        {currentUI.posts}
      </a>
    </li>
    <li>
      <a
        href={getLocalizedPath('/tags')}
        class:list={[
          isTagActive
            ? 'font-bold c-primary'
            : 'hover:c-primary hover:font-bold',
        ]}
      >
        {currentUI.tags}
      </a>
    </li>
    <li>
      <a
        href={getLocalizedPath('/about')}
        class:list={[
          isAboutActive
            ? 'font-bold c-primary'
            : 'hover:c-primary hover:font-bold',
        ]}
      >
        {currentUI.about}
      </a>
    </li>
  </ul>
</nav>
