---
import { getPagePath } from '@/utils/path'
import { ui } from '@/utils/ui'

const currentPath = Astro.url.pathname
const { currentLang, isHome, isPost, isTag, isAbout, getLocalizedPath } = getPagePath(currentPath)
const currentUI = ui[currentLang as keyof typeof ui]

const isPostActive = isHome || isPost
const isTagActive = isTag
const isAboutActive = isAbout
---

<nav class="mb-16 mt-13 text-5.6 font-semibold leading-13 font-navbar">
  <ul>
    <li>
      <a
        href={getLocalizedPath('/')}
        class:list={[
          isPostActive ? 'font-bold text-primary' : '',
        ]}
      >
        {currentUI.posts}
      </a>
    </li>
    <li>
      <a
        href={getLocalizedPath('/tags')}
        class:list={[
          isTagActive ? 'font-bold text-primary' : '',
        ]}
      >
        {currentUI.tags}
      </a>
    </li>
    <li>
      <a
        href={getLocalizedPath('/about')}
        class:list={[
          isAboutActive ? 'font-bold text-primary' : '',
        ]}
      >
        {currentUI.about}
      </a>
    </li>
  </ul>
</nav>
