---
import PostList from '@/components/PostList.astro'
import { getMultiLangRoutes } from '@/i18n/route'
import Layout from '@/layouts/Layout.astro'
import { getPinnedPosts, getPostsByYear } from '@/utils/content'

export function getStaticPaths() {
  return getMultiLangRoutes()
}

const { lang } = Astro.params
const pinnedPosts = await getPinnedPosts(lang)
const postsByYear = await getPostsByYear(lang)
---

<Layout>
  <main>
    <!-- Pinned Posts -->
    {pinnedPosts.length > 0 && (
      <section class="mb-7.5">
        <div class="uno-decorative-line"></div>
        <PostList posts={pinnedPosts} lang={lang} />
      </section>
    )}
    <!-- Regular Posts -->
    {[...postsByYear.entries()].map(([_year, posts]) => (
      <section class="mb-7.5">
        <div class="uno-decorative-line"></div>
        <PostList posts={posts} lang={lang} />
      </section>
    ))}
  </main>
</Layout>
