---
import { themeConfig } from '@/config'
import { getWalineLang } from '@/utils/ui'

const {
  serverURL = '',
  emoji = [],
  search = false,
  imageUploader = false,
} = themeConfig.comment?.waline ?? {}

const currentPath = Astro.url.pathname
const defaultLocale = themeConfig.global.locale
const walineLang = getWalineLang(currentPath, defaultLocale)

const walineConfigJson = JSON.stringify({
  serverURL,
  lang: walineLang,
  emoji,
  search,
  imageUploader,
})

const {
  light: { primary: lightPrimary, secondary: lightSecondary, background: lightBackground },
  dark: { primary: darkPrimary, secondary: darkSecondary, background: darkBackground },
} = themeConfig.color
---
<div id="waline" data-config={walineConfigJson}></div>

<script>
import { init } from '@waline/client'
import '@waline/client/style'

function initWaline() {
  const walineEl = document.getElementById('waline')
  const walineConfig = JSON.parse(walineEl?.dataset.config || '{}')

  init({
    el: '#waline',
    path: window.location.pathname.replace(/^\/([a-z]{2}(-[a-z]{2})?)\//, '/'),
    dark: 'html.dark',
    requiredMeta: ['nick', 'mail'],
    highlighter: false,
    texRenderer: false,
    noCopyright: true,
    reaction: [],
    ...walineConfig,
  })
}

initWaline()
document.addEventListener('astro:after-swap', initWaline)
</script>

<style is:global>
#waline {
  .wl-panel {
    margin: 0;
    border-radius: 0.5rem;
  }
  .wl-editor::placeholder {
    color: var(--waline-light-grey);
  }
  /* .wl-btn.primary {
    border-color: var(--waline-light-grey);
    color: var(--waline-color);
    background: none;
  } */
  .wl-text-number {
    display: none;
  }
  .wl-action[title="Markdown Guide"] {
    display: none;
  }
  .wl-emoji-popup {
    inset-inline-start: 0;
    .wl-tab-wrapper {
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  /* .wl-editor {
    min-height: 6rem;
  } */
  /* .wl-card-item {
    padding-left: 0;
    padding-right: 0;
  } */
  .wl-meta-head {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }
  .wl-sort {
    display: none;
  }
  .wl-card {
    border-bottom: none;
  }
  .wl-footer {
    margin: 0.5rem;
  }
  /* .wl-comment {
    margin-bottom: 2rem;
  } */
  .wl-header {
    padding: 0;
  }
  /* .wl-nick,
  .wl-mail,
  .wl-link {
    padding-left: 1rem;
    padding-right: 1rem;
  } */
  .wl-header.item3 {
    border-bottom: none;
  }
  .wl-user {
    margin-inline-end: 0.9rem;
  }
  .wl-like {
    margin-right: 0.4rem;
  }
  .wl-content p {
    line-height: 1.5rem;
  }
  /* .wl-power{
    color: color-mix(in oklch, var(--waline-theme-color), transparent 40%);
  }
  a[href*="walinejs"] {
    color: color-mix(in oklch, var(--waline-theme-color), transparent 40%);
  } */
  /* .wl-user-avatar {
    color: var(--waline-light-grey);
  } */
  .wl-time {
    color: color-mix(in oklch, var(--waline-theme-color), transparent 40%);
  }
  .wl-header-item {
    border-bottom: 1px solid var(--waline-border-color);
  }
  .wl-header label {
    font-size: 0.75rem;
  }
  .wl-header input {
    font-size: 0.7rem;
  }
  .wl-editor {
    min-height: 6rem;
  }
  .wl-nick {
    margin-inline-end: 0.6rem;
  }
}
</style>

<style
  define:vars={{
  lightPrimary,
  lightSecondary,
  lightBackground,
  darkPrimary,
  darkSecondary,
  darkBackground,
}}
>
#waline {
  /* 字体大小 */
  --waline-font-size: 16px;

  /* 常规颜色 */
  --waline-white: var(--lightBackground);
  --waline-light-grey: color-mix(in oklch, var(--lightPrimary), transparent 75%);
  --waline-dark-grey: var(--lightSecondary);

  /* 主题色 */
  --waline-theme-color: var(--lightPrimary);
  --waline-active-color: var(--lightPrimary);

  /* 布局颜色 */
  --waline-color: var(--lightSecondary);
  --waline-bg-color: var(--lightBackground);
  --waline-bg-color-light: var(--lightBackground);
  --waline-bg-color-hover: var(--lightBackground);
  --waline-border-color: color-mix(in oklch, var(--lightPrimary), transparent 75%);
  --waline-disable-bg-color: var(--lightBackground);
  --waline-disable-color: #bbb;
  --waline-code-bg-color: #282c34;

  /* 特殊颜色 */
  --waline-bq-color: #f0f0f0;

  /* 头像 */
  --waline-avatar-size: 3.25rem;
  --waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);

  /* 徽章 */
  --waline-badge-color: #3498db;
  --waline-badge-font-size: 0.775em;

  /* 信息 */
  --waline-info-bg-color: var(--lightBackground);
  --waline-info-color: color-mix(in oklch, var(--lightPrimary), transparent 75%);
  --waline-info-font-size: 0.625em;

  /* 渲染选择 */
  --waline-border: 1px solid var(--waline-border-color);
  --waline-avatar-radius: 20%;
}

/* 暗色模式 */
html.dark #waline {
  /* 字体大小 */
  --waline-font-size: 16px;

  /* 常规颜色 */
  --waline-white: var(--darkBackground);
  --waline-light-grey: color-mix(in oklch, var(--darkPrimary), transparent 75%);
  --waline-dark-grey: var(--darkSecondary);

  /* 主题色 */
  --waline-theme-color: var(--darkPrimary);
  --waline-active-color: var(--darkPrimary);

  /* 布局颜色 */
  --waline-color: var(--darkSecondary);
  --waline-bg-color: var(--darkBackground);
  --waline-bg-color-light: var(--darkBackground);
  --waline-bg-color-hover: var(--darkBackground);
  --waline-border-color: color-mix(in oklch, var(--darkPrimary), transparent 75%);
  --waline-disable-bg-color: var(--darkBackground);
  --waline-disable-color: #bbb;
  --waline-code-bg-color: #282c34;

  /* 特殊颜色 */
  --waline-bq-color: #f0f0f0;

  /* 头像 */
  --waline-avatar-size: 3.25rem;
  --waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);

  /* 徽章 */
  --waline-badge-color: #3498db;
  --waline-badge-font-size: 0.775em;

  /* 信息 */
  --waline-info-bg-color: var(--darkBackground);
  --waline-info-color: color-mix(in oklch, var(--darkPrimary), transparent 75%);
  --waline-info-font-size: 0.625em;

  /* 渲染选择 */
  --waline-border: 1px solid var(--waline-border-color);
}
</style>
