---
import { themeConfig } from '@/config'
import { getWalineLang } from '@/utils/ui'

const {
  serverURL = '',
  emoji = [],
  search = false,
  imageUploader = false,
} = themeConfig.comment?.waline ?? {}

const currentPath = Astro.url.pathname
const defaultLocale = themeConfig.global.locale
const walineLang = getWalineLang(currentPath, defaultLocale)

const walineConfigJson = JSON.stringify({
  serverURL,
  lang: walineLang,
  emoji,
  search,
  imageUploader,
});
---
<div id="waline" data-config={walineConfigJson}></div>

<script>
import { init } from '@waline/client'
import '@waline/client/style'

function initWaline() {
  const walineEl = document.getElementById('waline')
  const walineConfig = JSON.parse(walineEl?.dataset.config || '{}')

  init({
    el: '#waline',
    path: window.location.pathname.replace(/^\/([a-z]{2}(-[a-z]{2})?)\//, '/'),
    dark: 'auto',
    requiredMeta: ['nick', 'mail'],
    highlighter: false,
    texRenderer: false,
    reaction: [],
    ...walineConfig,
  })
}

initWaline()
document.addEventListener('astro:after-swap', initWaline)
</script>
