---
import PhotoSwipe from '@/components/PhotoSwipe.astro'
import Scrollbar from '@/components/Scrollbar.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import themeConfig from '@/config'
import Head from '@/layouts/Head.astro'
import '@/styles/global.css'
import '@/styles/photoswipe.css'

interface Props {
  postTitle?: string
  postDescription?: string
  postImage?: string
}

const { postTitle, postDescription, postImage } = Astro.props

const fontStyle = `font-${themeConfig.global.font}`
---

<html
  lang={Astro.currentLocale || 'en-US'}
  class:list={[fontStyle]}
  data-overlayscrollbars-initialize
>
  <Head {postTitle} {postDescription} {postImage} />
  <body data-overlayscrollbars-initialize>
    <ThemeToggle />
    <main
      class="mx-a max-w-123rem h-dvh"
      lg="grid gap-x-6 cols-[3fr_1fr] rows-[1fr_9rem]"
    >
      <slot />
    </main>
    <Scrollbar />
    <PhotoSwipe />
  </body>
</html>
