---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Navigation from '@/components/Navigation.astro'
import PhotoSwipe from '@/components/PhotoSwipe.astro'
import Scrollbar from '@/components/Scrollbar.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import themeConfig from '@/config'
import Head from '@/layouts/Head.astro'
import '@/styles/global.css'
import '@/styles/photoswipe.css'

interface Props {
  postTitle?: string
  postDescription?: string
  postImage?: string
}

const { postTitle, postDescription, postImage } = Astro.props
const fontStyle = `font-${themeConfig.global.font}`
---

<html
  lang={Astro.currentLocale || 'en-US'}
  class:list={[fontStyle]}
  data-overlayscrollbars-initialize
>
  <Head {postTitle} {postDescription} {postImage} />
  <body data-overlayscrollbars-initialize>
    <div
      class="mx-a max-w-492 h-dvh"
      p="x-[calc(9.94vw-1.1784rem)] y-[calc(5.42vw+2.4488rem)] lg:(x-36 y-10.4167dvh)"
      lg="grid cols-[1fr_22rem] rows-1 gap-[min(calc(16.8269vw-6.2727rem),18rem)]"
    >
      <div>
        <Header />
        <Navigation />
        <Footer />
      </div>

      <main class="col-start-1 row-start-1">
        <slot />
      </main>

    </div>
    <ThemeToggle />
    <Scrollbar />
    <PhotoSwipe />
  </body>
</html>

